<!DOCTYPE html>
<head>
    <title>Login</title>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-messaging.js"></script>
    <script src="/js/firebase.js"></script>
</head>
<body>
<h2>Login</h2>
<form action="/users/login" method="post">
    <div>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>


</form>
</body>
</html>
