<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/users/login" method="post">
    <div>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit" id="loginButton">Login</button>
    </div>
</form>
<script></script>
</body>
</html>
